<footer class="page-footer font-small bg pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-me nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/Helder-Souza" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/helder_souza07/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/helder-souza-7b3591183/" target="_blank" class="icoLinkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-copy text-center py-3">
        <span class="text-light"> © 2021 Copyright: </span>
        <a href="" target="_blank" class="text-light">Helder Souza</a>
    </div>

</footer>
